.navbar{ background:#F97300;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}
.navbar-collapse{
    justify-content: flex-end;
    
   }
   .bg-dark{
    background-color:#343a40!important
    }
    .bg-primary{
    background-color:#007bff!important
    }
    /*header style*/
.header{
    background-image: url("https://www.startech.com.bd/image/cache/catalog/desktop-pc/hp-pc/c403d/c403d-500x500.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }
   description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}